<div>
  <%= form_for [current_user, @job, @job.notes.build], remote: true, url: {controller: "notes", action: "create"} do |f| %>
    <%= f.text_field :title, class: "form-control", placeholder: "Note Title" %>
    <%= f.text_area :text, class: "form-control", placeholder: "Enter Text..." %>
    <%= f.submit "Save", class: "btn btn-sm btn-default pull-left save-note-btn" %>
    <div class="btn btn-sm btn-default pull-right cancel-note-btn">Cancel</div>
  <% end %>
</div>