<div>
  <%= form_for [current_user, @job, @job.notes.build], url: {controller: "notes", action: "create"} do |f| %>
    <%= f.text_field :title, placeholder: "Note Title" %>
    <%= f.text_area :text, placeholder: "Enter Text..." %>
    <%= f.submit "Add Note", class: "btn btn-sm btn-success" %>
  <% end %>
</div>