<h1>Edit Note:</h1>

<%= form_for [current_user, @job, @job.notes.build], url: {action: 'update'}, html: {method: 'put'} do |f| %>
  <%= f.text_field :title, value: "#{@note.title}" %>
  <%= f.text_area :text, value: "#{@note.text}" %>
  <%= f.submit "Edit Note" %>
<% end %>