<div class="container">
  <%= link_to "< Back", root_path %>
  <h1 class="muted text-center title">About Job Huntr</h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <section id="about-text">
        <p>
          Job Huntr is built to be the simple and visual way to organize your job hunting process. Sometimes it can be a bit overwhelming trying to keep track of all the different jobs you may be applying for. Job Huntr simplifies this process by allowing you to have a place to put information that is relevant to each job, while being able to view your progress with all of your jobs at the same time. Give it a try and let us know how you like it!
        </p>
        <p>
          This project was built by two recent Dev Bootcamp graduates (<a href="http://imears.com" class="link-highlight">Maxwell Mears</a>, and <a href="#" class="link-highlight">Ruslan Idrisov</a>) over the course of two weeks. The project is open source and the code is available <a href="https://github.com/iMears/job_huntr" class="link-highlight">here</a>. Please <%= link_to 'contact us', contact_path, class: "link-highlight" %> if you have any questions or comments about Job Huntr, we would love to hear your feedback!
        </p>
      </section>
    </div>
  </div>
  <div class="row">
    <section id="personal-profiles">
   <h1 class="muted text-center title">Meet The Team!</h1>
      <div class="col-md-6 text-center profile">
        <%= image_tag "1.png", class: "profile-pic" %>
        <h4 class="text-center">Maxwell Mears</h4>
        <p>
          As a passionate problem-solver, my love of puzzles (particularly Rubik's cubes), interest in programming, and aptitude for design are maximized through web development. I pay close attention to detail, I am enthusiastic, and I have a strong desire to continue advancing my skills. Currently, I am seeking a full-time position in an engaging environment where I can deepen my existing skills, and develop new ones.
        </p>
      </div>
      <div class="col-md-6 text-center profile">
        <%= image_tag "2.png", class: "profile-pic" %>
        <h4 class="text-center">Ruslan Idrisov</h4>
        <p>
          I am currently looking for a junior level Web Developer position with a company that has a strong engineering team and a culture based on high ethical and moral standards. Over the last year I have attended intensive web development training at two programming boot camps (Coder Camps and Dev Bootcamp). I apply concepts and technologies learned to create full stack web and mobile applications using ASP.NET and Ruby on Rails frameworks and JavaScript libraries.
        </p>
      </div>
    </section>
  </div>
</div>