<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <ul>
        <li>Contact Us</li>
        <li>More Information</li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
</div>
