<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <ul>
        <li class="pull-left">&copy; Job Huntr 2015</li>
        <li class="pull-right"><%= link_to "Contact Us", contact_path %></li>
        <li class="pull-right"><%= link_to "About Job Huntr", about_path %></li>
      </ul>
    </div>
  </div>
</div>
