<div class="welcome-header">
  <div class="welcome-nav-overlay"></div>
  <div class="welcome-logo-container">
    <%= image_tag("jobHunterLogo.png", class: "jh-logo") %>
  </div>
  <div class="welcome-title-container text-center">
    <div class="welcome-title">The simple and visual way to organize the job hunting process.</div>
  </div>
</div>