body {
  font-family: 'PT Sans', sans-serif;
}

td {
  width: 18%
}

th {
  text-align: center
}

a {
  color: gray;
}

a:hover {
  color: #d9534f;
  text-decoration: none;
}

pre {
  border: none;
  background-color: #F9F9F9;
  color: gray;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  padding: 0;
}

.navbar {
  height: 75px;
  border-radius: 0;
}

.nav-txt {
  color: white;
  list-style-type: none;
  font-size: 20px;
  padding: 15px;
  margin: 8px;
  display: inline-block;
}

.alert-txt {
  color: #D7524E;
}

.form-container {
  margin: 0 auto;
  width: 200px;
}

.job-form-container {
  margin: 0 auto;
  width: 300px;
}

.form-control {
  margin: 5px 0;
}

.form-inline {
  display: inline-block;
  width: 250px
}

.jh-logo {
  height: 50px;
  margin: 10px 10px;
  width: 160px;
  position: absolute;
}

.logo-container {
  margin: 0 auto;
}

.add-job-container {
  width: 62%;
  margin: 0 auto 40px;
}

.title {
  margin: 0 0 40px;
}

.greeting {
  font-size: 32px;
  color: gray;
  margin: 30px 0;
}

.greeting-container {
  width: 80%;
  margin: 0 auto;
}

.job {
  margin: 20px 0;
  border-radius: 7px;
  background-color: #F9F9F9;
  padding: 5px;
  border: 1px solid gray;
}

.job a {
  color: gray;
}

.job:hover {
  background-color: white;
}

.job-title {
  font-size: 26px;
}

.note-title {
  margin: 20px 0;
  font-size: 26px;
  display: inline-block;
}

#note_text {
  min-height: 150px;
  resize: none;
}

.pre-note:hover {
  background: #eee;
}

.category-title {
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: gray;
  border: 1px gray solid;
  border-radius: 7px;
}

.title-min {
  font-size: 26px;
}

.note {
  margin: 0 15px;
}

.single-note-title {
  margin: 0 15px 10px;
}

.note-container {
  background-color: #F9F9F9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 7px;
  color: gray;
  clear: both;
  border: 1px solid gray;
}

.note-container:hover {
  background-color: #eee;
}

.note-container:hover .pre-note {
  background-color: #eee;
}

.edit-job-form {
  width: 100%;
}

.desc-form {
  min-height: 150px;
  resize: none;
}

.job-info {
 background-color: #F9F9F9;
 border-radius: 7px;
 padding: 10px;
 color: gray;
 margin: 5px 0 0;
 border: 1px solid gray;
}

.job-info-text {
  margin: 15px 0;
}

.first-job-info-text {
  margin: 0;
}

.move {
  text-decoration: none;
  font-size: 10px;
}

.move:link {
  text-decoration: none;
}

.move-dropdown {
  display: none;
}

/*============== BUTTONS =================*/

.add-job-btn {
  width: 100px;
  height: 34px;
}

.add-note-btn {
  width: 100%;
}

.save-note-btn {
  width: 49%;
  margin: 0 1% 20px 0;
}

.cancel-note-btn {
  width: 49%;
  margin: 0 0 20px 1%;
}

.job-btns {
  width: 220px;
  margin: 0 auto 40px;
}

.del-btn {
  width: 220px;
  margin: 0 auto;
}


/*============== WELCOME NAV =================*/

.welcome-logo-container {
  height: 500px;
  background-image: url("banner.jpg");
  margin-bottom: 50px;
  z-index: -1;
}

.welcome-nav-overlay {
  height: 500px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
/*  background: rgb(0, 0, 0);  The Fallback
  background: rgba(0, 0, 0, 0.80);*/
}

.welcome-title-container {
  width: 100%;
  top: 0;
  position: absolute;
  display: inline-block;
}

.welcome-title {
  position: relative;
  width: 48%;
  margin: 175px auto 0;
  color: white;
  font-size: 50px;
}

@media screen and (max-width: 974px) {
    .welcome-title {
        font-size: 45px;
        width: 80%;
        margin: 175px auto 0;
    }
}

@media screen and (max-width: 600px) {
    .welcome-title {
        font-size: 40px;
        width: 80%;
        margin: 150px auto 0;
    }
}

@media screen and (max-width: 377px) {
    .welcome-title {
        font-size: 25px;
        width: 90%;
        margin: 125px auto 0;
    }
}

