td {
  width: 18%
}

th {
  text-align: center
}

a {
  color: gray;
}

a:hover {
  color: #d9534f;
  text-decoration: none;
}

.navbar {
  height: 75px;
  border-radius: 0 0 5px 5px;
}

.nav-txt {
  color: white;
  list-style-type: none;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}

.form-container {
  margin: 0 auto;
  width: 200px;
}

.job-form-container {
  margin: 0 auto;
  width: 300px;
}

.form-control {
  margin: 5px 0;
}

.form-inline {
  display: inline-block;
  width: 250px
}



.jh-logo {
  height: 50px;
  margin: 10px auto 0 auto;
  width: 225px;
  position: absolute;
}

.logo-container {
  margin: 0 auto;
}

.has-error {
  width: 62%;
  margin: 0 auto 40px;

}

.greeting {
  font-size: 32px;
  color: gray;
  margin: 30px 0;
}

.greeting-container {
  width: 80%;
  margin: 0 auto;
}

.job-interested {
  margin: 20px 0;
  border-radius: 7px;
  background-color: #c0c0c0;
  padding: 5px;
}

.job-interested a {
  color: white;
}

.job-interested:hover {
  background-color: #AEC6CF;
}

.job-applied {
  margin: 20px 0;
  border-radius: 7px;
  background-color: #c0c0c0;
  padding: 5px;
}

.job-applied a {
  color: white;
}

.job-applied:hover {
  background-color: #f0dc82;
}

.job-hot {
  margin: 20px 0;
  border-radius: 7px;
  background-color: #c0c0c0;
  padding: 5px;
}

.job-hot a {
  color: white;
}

.job-hot:hover {
  background-color: #d9534f;
}

.job-cold {
  margin: 20px 0;
  border-radius: 7px;
  background-color: #c0c0c0;
  padding: 5px;
}

.job-cold a {
  color: white;
}

.job-cold:hover {
  background-color: #bcd4e6;
}

.job-offer {
  margin: 20px 0;
  border-radius: 7px;
  background-color: #c0c0c0;
  padding: 5px;
}

.job-offer a {
  color: white;
}

.job-offer:hover {
  background-color: #85bb65;
}

.job-rejected {
  margin: 20px 0;
  border-radius: 7px;
  background-color: #c0c0c0;
  padding: 5px;
}

.job-rejected a {
  color: white;
}

.job-rejected:hover {
  background-color: #B19CD9;
}

.job-title {
  font-size: 26px;
}

.note-title {
  margin: 20px 0;
  font-size: 26px;
  display: inline-block;
}

.category-col {

}

.category-title {
  font-weight: bold;
  font-size: 20px;
  color: #d9534f;
}

.title-min {
  font-size: 26px;
}


/*============== BUTTONS =================*/

.add-job-btn {
  width: 100px;
  height: 34px;
}

.add-note-btn {
  display: inline-block;
  margin: 20px 0;
}

.job-btns {
  width: 260px;
  margin: 0 auto 100px;
}

.edit-btn {
  width: 120px;
  float: left;
  margin: 5px;
}

.del-btn {
  width: 120px;
  float: right;
  margin: 5px;
}