td {
  width: 16%
}

th {
  text-align: center
}

a {
  color: gray;
}

a:hover {
  color: #d9534f;
  text-decoration: none;
}

.navbar {
  height: 75px;
  border-radius: 0 0 5px 5px;
}

.nav-txt {
  color: white;
  list-style-type: none;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}

.form-container {
  margin: 0 auto;
  width: 200px;
}

.job-form-container {
  margin: 0 auto;
  width: 300px;
}

.form-control {
  margin: 5px 0;
}

.form-inline {
  display: inline-block;
  width: 250px
}

.edit-btn {
  width: 50px;
  display: inline-block;
  position: relative;
  float: left;
}

.del-btn {
  width: 50px;
  display: inline-block;
}

.jh-logo {
  height: 50px;
  margin: 10px auto 0 auto;
  width: 225px;
  position: absolute;
}

.logo-container {
  margin: 0 auto;
}

.has-error {
  width: 62%;
  margin: 0 auto 40px;

}

.greeting {
  font-size: 32px;
  color: gray;
  margin: 30px 0;
}

.greeting-container {
  width: 80%;
  margin: 0 auto;
}

.job-info {
  margin: none;
  border-radius: 7px;
  background-color: #ff8856;
  padding: 10px;
}

.job-info a {
  color: white;
}

.job-info:hover {
  background-color: #d9534f;
}

.job-title {
  font-size: 30px;
}

/*============== BUTTONS =================*/

.add-job-btn {
  width: 100px;
  height: 34px;
}